### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Logs
*.log
/import_ep.log
/barcode_processor.log

# Large data not in repo
/table-EP_ARTIKEL2.json


# Python ignores
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
venv_p/
build/
dist/
build_cythonize/
.eggs/
*.egg-info/

# IDE/project files
.idea/
*.iml
